<div class="container">
  <% @product.comments.each do |comment| %>
    <% unless comment.body.blank? %>
      <div class="comment-container border p-3 mb-3">
        <div class="d-flex align-items-center mb-2">
          <div class="user-avatar mr-2">
            <img src="https://via.placeholder.com/40" alt="User Avatar" class="rounded-circle">
          </div>
          <div class="user-info">
            <% if comment.user.present? && comment.user.email.present? %>
              <span class="user-name"><%= comment.user.email %></span>
            <% end %>
            <% if comment.created_at.present? %>
              <span class="text-muted">, <%= time_ago_in_words(comment.created_at) %> ago</span>
            <% end %>
          </div>
        </div>

        <div class="comment-content">
          <p class="mb-1">
            <strong>Ocena:</strong> <%= comment.rating %> / 5
          </p>
          <p class="mb-1">
            <strong>Komentarz:</strong> <%= comment.body %>
          </p>
        </div>

        <!-- comments/_comment.html.erb -->
        <div class="comment-actions d-flex justify-content-between align-items-center mt-2">
          <span class="d-flex">
            <%= button_to upvote_product_comment_path(@product, comment), method: :post, class: "btn btn-link" do %>
              <%= fa_icon('thumbs-up fa-2x') %>
            <% end %>
            <span class="likes-count"><%= comment.get_upvotes.size %></span>

            <%= button_to downvote_product_comment_path(@product, comment), method: :post, class: "btn btn-link" do %>
              <%= fa_icon('thumbs-down fa-2x') %>
            <% end %>
            <span class="unlikes-count"><%= comment.get_downvotes.size %></span>
          </span>

          <% if comment.user.present? && comment.user == current_user %>
            <div class="ml-auto d-flex align-items-center"> <!-- Use "ml-auto" to push the following content to the right -->
              <%= button_to upvote_product_comment_path(@product, comment), method: :post, class: "btn btn-link" do %>
                <%= fa_icon('trash fa-2x') %>
              <% end %>
              <%= button_to downvote_product_comment_path(@product, comment), method: :post, class: "btn btn-link ml-2" do %>
                <%= fa_icon('pencil fa-2x') %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
