<div class="container">
  <% @product.comments.each do |comment| %>
    <% unless comment.body.blank? %>
      <div class="comment-container border p-3 mb-3">
        <div class="d-flex align-items-center mb-2">
          <div class="user-avatar mr-3">
            <img src="https://via.placeholder.com/40" alt="User Avatar" class="rounded-circle">
          </div>
          <div class="user-info ml-2 flex-grow-1">
            <div class="d-flex flex-column">
              <% if comment.user.present? && comment.user.email.present? %>
                <span class="user-name mb-1"><%= comment.user.email %></span>
              <% end %>
              <% if comment.created_at.present? %>
                <span class="text-muted ml-auto"><%= time_ago_in_words(comment.created_at) %> ago</span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="comment-content">
          <p class="mb-1">
            <strong>Ocena:</strong> <%= comment.rating %> / 5
          </p>
          <p class="mb-1">
            <strong>Komentarz:</strong> <%= comment.body %>
          </p>
        </div>

        <!-- comments/_comment.html.erb -->
        <div class="comment-actions d-flex justify-content-between align-items-center mt-2">
          <span class="d-flex align-items-center">
            <%= button_to upvote_product_comment_path(@product, comment), method: :post, class: "btn btn-link" do %>
              <i class="fa fa-thumbs-up fa-lg"></i>
            <% end %>
            <span class="ml-1 likes-count"><%= comment.get_upvotes.size %></span>
            <%= button_to downvote_product_comment_path(@product, comment), method: :post, class: "btn btn-link ml-3" do %>
              <i class="fa fa-thumbs-down fa-lg"></i>
            <% end %>
            <span class="ml-1 unlikes-count"><%= comment.get_downvotes.size %></span>
          </span>

          <% if comment.user.present? && comment.user == current_user %>
            <div class="ml-auto d-flex align-items-center">
              <%= button_to [@product, comment], method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć ten komentarz?' }, class: "btn btn-outline-danger btn-sm mr-2" do %>
                <i class="fa fa-trash"></i>
              <% end %>
              <%= button_to edit_product_comment_path(@product, comment), method: :get, class: "btn btn-outline-primary btn-sm" do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
