<!-- app/views/admin/categories/index.html.erb -->
<h1>Brands</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @brands.each do |brand| %>
    <tr>
      <td><%= brand.name %></td>
      <td>
        <%= link_to 'Edit', edit_admin_brand_path(brand) %>
        <%= button_to 'Delete', admin_brand_path(brand), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Brand', new_admin_brand_path %>


<%= link_to 'Back', admin_root_path %>
