<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 style="color: white;">Orders</h2>
</div>

<table class="table">
  <thead class="thead">
  <tr>
    <th scope="col" style="color: white;">Id</th>
    <th scope="col" style="color: white;">User</th>
    <th scope="col" style="color: white;">State</th>
    <th scope="col" style="color: white;">Created_at</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <th scope="row" class="product-name" style="color: white;"><%= order.id %></th>
      <td style="color: white;"><%= order.user.email %></td>
      <td style="color: white;"><%= order.state %></td>
      <td style="color: white;"><%= order.created_at.localtime.strftime("%Y-%m-%d %H:%M")  %></td>

      <td>
        <%= link_to "Show", admin_order_path(order), class: "btn btn-outline-secondary btn-sm me-2" %>
        <%= link_to 'Delete', admin_order_path(order), data: { turbo: true, turbo_method: :delete}, class: "btn btn-outline-danger btn-sm me-2" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>






