<div id="<%= dom_id product %>">
  <div class="col-md-12"> <!-- Zmiana szerokości na 12 kolumn na średnich i większych ekranach (md) -->
    <div class="card h-100">
      <%= link_to (image_tag product.image, class: "card-img-top", alt: product.name if product.image.attached?), product, data: { turbo: false } %>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">$<%= product.price %></p>
        <% if product.user.present? %>
          <p class="card-text">User: <%= product.user.email %></p>
        <% end %>
        <div class="d-flex justify-content-between align-items-center">
          <% if user_signed_in? && current_user == product.user %>
            <span class="d-flex">
              <%= link_to edit_product_path(product), class: 'btn btn-warning btn-sm mr-2', data: { turbo: false } do %>
                <i class="fa fa-pencil"></i>
              <% end %>
              <%= button_to product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm mr-2', data: { turbo: false } do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </span>
          <% end %>
          <%= link_to product_path(product), class: 'btn btn-info btn-sm mr-2', data: { turbo: false } do %>
            <i class="fa fa-search"></i>
          <% end %>

          <!-- Przycisk "Add to Cart" -->
          <%= button_to 'Add to Cart', add_to_cart_path(product_id: product.id), class: "btn btn-outline-secondary", data: { turbo: false } %>
        </div>
      </div>
    </div>
  </div>
  <br> <!-- Dodanie odstępu po elemencie -->
</div>
