<div id="products">
  <%= turbo_stream_from :products %>

  <div id="infinity_scroll">
    <%= turbo_frame_tag "paginate_page_#{@products.current_page}" do %>
      <div class="row row-cols-1 row-cols-md-3 g-4 align-items-stretch">
        <%= render partial: 'home/listing_products', collection: @products, as: :product %>
      </div>
      <% if @products.next_page %>
        <%= turbo_frame_tag "paginate_page_#{@products.next_page}", src: home_index_path(page: @products.next_page), loading: 'lazy' do %>
          Loading...
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "New book", new_product_path %>
