<!-- _cart_contents.html.erb -->
<div class="row">
  <div class="col-md-9">
    <table class="table table-hover">
      <thead class="thead">
      <tr>
        <th></th>
        <th scope="col" style="color: white;">Product</th>
        <th scope="col" style="color: white;">Price</th>
      </tr>
      </thead>
      <tbody>
      <% if @cart.empty? %>
        <tr>
          <td colspan="3" class="text-center" style="color: white;">
            YOUR CART IS EMPTY
          </td>
        </tr>
      <% else %>

        <% @cart.cart_items.each do |cart_item| %>
          <%= form_for(cart_item) do |f| %>
            <tr>
              <td><%= image_tag(cart_item.product.main_image_path, width: "50x50", class: "mx-auto") %></td>
              <td><%= link_to cart_item.product.name, cart_item.product %></td>
              <td><%= f.select :quantity, options_for_select([1, 2, 3, 4, 5], cart_item.quantity), class: 'form-control' %> <%= f.submit "Update", class: 'btn btn-primary' %></td>
              <td><%= number_to_currency(cart_item.product.price) %></td>
              <td><%= number_to_currency(cart_item.total_price) %></td>
              <td><%= link_to 'Delete', cart_item, method: :delete, data: {confirm: 'Are you sure'}, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        <% end %>

      
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <div>
      <h3>Total: $<%= @cart.total %></h3>
    </div>

    <div>
      <%= button_to "Empty cart", cart_path(@cart), method: :delete, data: { confirm: "Do you really want to empty the cart?" }, class: "btn btn-block btn-outline-danger" %>
      <%= button_to '<i class="bi bi-cart-check"></i> Checkout'.html_safe, orders_path, method: :post, class: "btn btn-block btn-outline-success" %>
    </div>
    <div>
    </div>
  </div>
</div>
