<h2>Categories</h2>

<%= link_to "Add Category", new_admin_category_path, class: "btn btn-info", id: "add-category-button" %>

<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col" class="text-end">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td class="text-light"><%= category.name %></td>
      <td class="text-end">
        <%= link_to "Show", admin_category_path(category), class: "btn btn-outline-primary btn-sm me-2", id: "show-product-#{category.id}-button" %>
        <%= link_to "Edit", edit_admin_category_path(category), class: "btn btn-outline-secondary btn-sm me-2", id: "edit-product-#{category.id}-button" %>
        <%= link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm text-white" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', admin_root_path, class: "btn btn-secondary text-white" %>
