<h2>Products</h2>


<%= link_to "Add Product", new_admin_product_path, class: "btn btn-info", id: "add-product-button" %>


<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">Img</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Category</th>
    <th scope="col">Brand</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= image_tag(product.main_image_path, width: "50x50", class: "mx-auto") %></td>
      <td class="text-light"><%= product.name %></td>
      <td class="text-light"><%= product.price %></td>
      <td class="text-light"><%= product.category.name %></td>
      <td class="text-light"><%= product.brand.name %></td>

      <td><%= link_to "edit", edit_admin_product_path(product), class: "btn btn-outline-secondary btn-sm me-2", id: "edit-product-#{product.id}-button" %></td>
      <td><%= button_to "delete", admin_product_path(product), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm me-2", id: "delete-product-#{product.id}-button" %></td>
      <td><%= link_to "show", admin_product_path(product), class: "btn btn-outline-primary btn-sm", id: "show-product-#{product.id}-button" %></td>

    </tr>
  <% end %>
  </tbody>
</table>



