<% devise_mapping = Devise.mappings[:user] %>
<% resource_class = devise_mapping.to %>
<% resource_name = devise_mapping.name %>

<div class="container">
  <div class="navbar-nav ms-auto">
    <% if admin_session %>
      <%= link_to 'Admin Panel', admin_root_path, class: 'nav-link' %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to 'Welcome, ' + current_user.email + '!', edit_user_registration_path, class: 'nav-link' %>
      <%= link_to 'Edit profile', edit_user_registration_path, class: 'nav-link' %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>

      <% if devise_mapping.omniauthable? %>
        <% resource_class.omniauth_providers.each do |provider| %>
          <%= form_with url: omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false } do |f| %>
            <%= f.submit "Log in with #{provider.to_s.titleize}", class: 'btn btn-outline-primary my-1' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>